@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

p,
a,
button,
input {
  font-size: 14px !important;
  font-weight: 400 !important;
}

label {
  font-size: 14px !important;
  font-weight: 400 !important;
}
